---

name: gitleaks

on:
  push:
    branches:
      - bugfix/*
      - master
      - develop

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@master
